<mat-card>
<mat-card-title>
    login
</mat-card-title>
<mat-card-content>
    <form  (ngSubmit)="login()">
        <mat-error *ngIf="error">{{error}}</mat-error>
        <mat-form-field>
            <input [(ngModel)]="email" name="email" matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="password" name="password" matInput placeholder="password" type="password">
        </mat-form-field>  
        <button mat-stroked-button color="primary" type="submit">Login</button>
        
    </form>
    <button mat-stroked-button (click)="goToSignup()" >Go To Sign Up</button>
       
</mat-card-content>
</mat-card>